
.spacer {
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('../images/layer1.svg');
}




.layer2 {
    background-image: url('../images/layer2.svg');
}


.layer3 {
    background-image: url('../images/layer4.svg');
}

.layer5 {
    background-image: url('../images/layer5.svg');
}

.layer6 {
    background-image: url('../images/layer6.svg');
}




